.loaded{display:none;}
.loader{height:100%;width:100%;position: fixed;}
.loader .l_main{position:absolute;top:50%;left:50%;width:172px;height:128px;margin:0;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}
.loader{-webkit-transform:scale(0.85);transform: scale(0.85)}
@media (max-width:1400px){.loader{-webkit-transform:scale(0.75);transform:scale(0.75)}}
@media (max-width:440px){.loader{-webkit-transform:scale(0.5);transform:scale(0.5)}}
@media (min-width:992px){.loader{width: calc(100% - 300px);}}
@media (min-width:1200px){.loader{width: calc(100% - 350px);}}
.l_square{position:relative}
.l_square:nth-child(1){margin-left:0px}
.l_square:nth-child(2){margin-left:44px}
.l_square:nth-child(3){margin-left:88px}
.l_square:nth-child(4){margin-left:132px}
.l_square span{position:absolute;top:0px;left:20px;height:36px;width:36px;border-radius:2px;background-color:#faad14}
.l_square span:nth-child(1){top:0px}
.l_square span:nth-child(2){top:44px}
.l_square span:nth-child(3){top:88px}
.l_square:nth-child(1) span{-webkit-animation:animsquare1 2s infinite ease-in;animation:animsquare1 2s infinite ease-in}
.l_square:nth-child(2) span{-webkit-animation:animsquare2 2s infinite ease-in;animation:animsquare2 2s infinite ease-in}
.l_square:nth-child(3) span{-webkit-animation:animsquare3 2s infinite ease-in;animation:animsquare3 2s infinite ease-in}
.l_square:nth-child(4) span{-webkit-animation:animsquare4 2s infinite ease-in;animation:animsquare4 2s infinite ease-in}
.l_square span:nth-child(1){-webkit-animation-delay:0.00s;animation-delay:0.00s}
.l_square span:nth-child(2){-webkit-animation-delay:0.15s;animation-delay:0.15s}
.l_square span:nth-child(3){-webkit-animation-delay:0.30s;animation-delay:0.30s}
@-webkit-keyframes animsquare1{0%,5%,95%,100%{-webkit-transform:translate(0px,0px) rotate(0deg);transform:translate(0px,0px) rotate(0deg)}30%,70%{-webkit-transform:translate(-40px,0px) rotate(-90deg);transform:translate(-40px,0px) rotate(-90deg)}}
@keyframes animsquare1{0%,5%,95%,100%{-webkit-transform:translate(0px,0px) rotate(0deg);transform:translate(0px,0px) rotate(0deg)}30%,70%{-webkit-transform:translate(-40px,0px) rotate(-90deg);transform:translate(-40px,0px) rotate(-90deg)}}
@-webkit-keyframes animsquare2{0%,10%,90%,100%{-webkit-transform:translate(0px,0px) rotate(0deg);transform:translate(0px,0px) rotate(0deg)}35%,65%{-webkit-transform:translate(-40px,0px) rotate(-90deg);transform:translate(-40px,0px) rotate(-90deg)}}
@keyframes animsquare2{0%,10%,90%,100%{-webkit-transform:translate(0px,0px) rotate(0deg);transform:translate(0px,0px) rotate(0deg)}35%,65%{-webkit-transform:translate(-40px,0px) rotate(-90deg);transform:translate(-40px,0px) rotate(-90deg)}}
@-webkit-keyframes animsquare3{0%,15%,85%,100%{-webkit-transform:translate(0px,0px) rotate(0deg);transform:translate(0px,0px) rotate(0deg)}40%,60%{-webkit-transform:translate(-40px,0px) rotate(-90deg);transform:translate(-40px,0px) rotate(-90deg)}}
@keyframes animsquare3{0%,15%,85%,100%{-webkit-transform:translate(0px,0px) rotate(0deg);transform:translate(0px,0px) rotate(0deg)}40%,60%{-webkit-transform:translate(-40px,0px) rotate(-90deg);transform:translate(-40px,0px) rotate(-90deg)}}
@-webkit-keyframes animsquare4{0%,20%,80%,100%{-webkit-transform:translate(0px,0px) rotate(0deg);transform:translate(0px,0px) rotate(0deg)}45%,55%{-webkit-transform:translate(-40px,0px) rotate(-90deg);transform:translate(-40px,0px) rotate(-90deg)}}
@keyframes animsquare4{0%,20%,80%,100%{-webkit-transform:translate(0px,0px) rotate(0deg);transform:translate(0px,0px) rotate(0deg)}45%,55%{-webkit-transform:translate(-40px,0px) rotate(-90deg);transform:translate(-40px,0px) rotate(-90deg)}}
@media (max-width:768px){.loader{margin-top:35px;}}
* {
  box-sizing: border-box;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-user-select: none;
}
body {
  font-family: sans-serif;
  background: #e5e5e5;
}
.header {
  position: fixed;
  width: 100%;
  z-index: 999;
  background: #fa8c16;
  padding-top: 16px;
  padding-bottom: 16px;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
}
.header-wrapper {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-nav {
  margin-left: 60px;
  margin-right: auto;
}
.header-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}
.header-menu-link {
  text-decoration: none;
  color: #fafafa;
  margin-right: 15px;
  font-size: 14px;
  line-height: 22px;
}
.header-menu-link.active{
  font-weight: bold;
}
.header-menu-link:active, .header-logo:active, .edit:active, .exit:active {
  filter: brightness(80%);
}
.input-group {
  max-width: 237px;
  width: 60%;
  height: 32px;
  position: relative;
  background: #ffffff;
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #d9d9d9;
}
.search-input {
  width: 80%;
  height: 100%;
  border: none;
  font-size: 14px;
  line-height: 22px;
  padding-left: 12px;
  outline: transparent;
}
.search-button {
  height: 100%;
  width: 20%;
  border: none;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-input::-moz-placeholder {
  color: #bfbfbf;
}
.search-input::-webkit-input-placeholder {
  color: #bfbfbf;
}
.search-input:-ms-input-placeholder {
  color: #bfbfbf;
}
.search-input::-ms-input-placeholder {
  color: #bfbfbf;
}
.search-input::placeholder {
  color: #bfbfbf;
}
.menu-toggle {
  display: none;
}
.content {
  max-width: 1200px;
  padding-top: 94px;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.posts {
  width: 67%;
  /*display: none;*/
}
.posts.hide{
  display: none;
}
.post {
  background-color: #fff;
  border: 1px solid #e8e8e8;
  margin-bottom: 30px;
}
.post-body {
  padding: 35px 35px 0 35px;
  word-wrap: break-word;
}
.author-about{
  display: flex;
  align-items: center;
}
.post-title {
  margin-top: 0;
  margin-bottom: 19px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.post-text {
  color: #262626;
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
}
.tags {
  margin-bottom: 22px;
  color: #bfbfbf;
}
.tag {
  color: #bfbfbf;
  font-size: 14px;
  line-height: 22px;
  margin-left: 10px;
  text-decoration: none;
}
.tag:first-child{
  margin-left: 0;
}
.post-footer {
  border-top: 1px solid #e8e8e8;
  background: #fafafa;
  display: flex;
  justify-content: space-between;
  padding: 13px 25px;
}
.post-buttons {
  display: flex;
  align-items: center;
}
.post-button .icon {
  fill: #8c8c8c;
}
.icon-like{
  fill: #fa8c16!important;
}
.icon{
  margin-right: 6px;
}
.post-button {
  background-color: transparent;
  border: none;
  color: #8c8c8c;
  display: flex;
  align-items: center;
  font-size: 14px;
  line-height: 22px;
  margin-right: 19px;
  cursor: pointer;
  outline: transparent;
}
.post-author {
  display: flex;
  align-items: center;
  text-align: right;
  justify-content: space-between;
  margin-bottom: 10px;
}
.author-avatar {
  width: 34px;
  height: 34px;
  border-radius: 4px;
}
.author-username {
  display: block;
  color: #fa8c16;
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  text-decoration: none;
  margin-left: 7px;
}
.post-time {
  color: #bfbfbf;
  font-size: 13px;
  line-height: 1;
}

.sidebar {
  width: 31%;
}

.login{
  background-color: #fafafa;
  border: 1px solid #e8e8e8;
  padding: 15px 25px;
  align-items: center;
  justify-content: space-between;
}

.login-form{
  display: flex;
  flex-direction: column;
  position: relative;
}

.login-title, .edit-title{
  text-align: center;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #595959;
}
.edi-title{
  margin-bottom: 10px;
}
.login-error{
  display: block;
  width: 100%;
  min-height: 20px;
  color: #fb0505;
  font-size: 13px;
  padding: 3px;
}

.edit-title{
  text-align: left;
}

.login-input{
  display: block;
  border: 1px solid #ccc5c5;
  padding: 5px 15px;
  margin-bottom: 15px;
}

.signup-close{
  cursor: pointer;
  position: absolute;
  outline: transparent;
  top: -15px;
  right: -20px;
  display: none;
  background: none;
  border:none;
  font-size: 30px;
  color: #b8b2b2;
}
.signup-close:hover{
  filter:brightness(80%);
}
.btn-signup, .login-password-repeat{
  display: none;
}

.show .signup-close, .show .login-password-repeat, .show .btn-signup{
  display: block;
}

.login-forget{
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  color: #757575;
  margin-bottom: 10px;
  font-style: italic;
  cursor: pointer;
}
.show .login-forget, .show .login-signup, .show .btn-signin{
  display: none;
}

.login-forget:hover{
  color: #fa8c16;
}
.login-forget:active{
  filter:brightness(85%);
}
.login-signup{
  text-align: center;
  font-size: 14px;
  text-decoration: none;
  color: #fa8c16;
  margin-bottom: 10px;
  text-transform: uppercase;
  cursor: pointer;
}
.login-signup.hide{
  display: none;
}

.login-signup:hover{
  filter: opacity(80%);
}
.login-signup:active{
  filter:brightness(85%);
}
.user-container{
  width: 100%;
    display: flex;
    align-items: center;
}
.user{
  background-color: #fafafa;
    border: 1px solid #e8e8e8;
    padding: 15px 25px;
    display: none;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.user.visible{
  display: flex;
}
.user-info {
  margin-right: auto;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.user-avatar {
  border-radius: 50%;
  margin-right: 17px;
  object-fit: cover;
  width: 50px;
  height: 50px;
}
.user-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #595959;
}
.icon-exit {
  width: 20px;
  height: 20px;
  fill: #000;
}
.edit{
  display: flex;
  margin-right: 20px;
}
.edit-container{
  overflow: hidden;
  width: 100%;
  height: 0px;
  transition-duration: .4s;
  transition-delay: .1s;
}
.edit-container.visible{
  height: 225px;
}
.edit-label{
  display: block;
  text-align: center;
  line-height: 1.6;
}
.edit-input{
  display: block;
  margin: 0 auto 15px auto;
  padding: 5px 10px;
  width: 100%;
}
.btn-primary, .btn-secondary{
  border: none; 
  cursor: pointer;
  outline: transparent;
}
.btn-primary{
  background: #faad14;
  border-radius: 4px;
  border: none;
  text-decoration: none;
  color: #ffffff;
  font-weight: normal;
  font-size: 16px;
  line-height: 24px;
  padding: 13px;
}
.btn-secondary{
  font-size: 15px;
  padding: 10px;
  border-radius: 2px;
  text-transform: uppercase;
  background-color: #fa8c16;
  margin-bottom: 15px;
  width: 100%;
}
.btn-primary:hover, .btn-secondary:hover{
  filter: opacity(80%);
}
.btn-primary:active, .btn-secondary:active{
  filter:brightness(85%);
}
.icon-edit {
  width: 20px;
  height: 20px;
  -webkit-mask: url(../img/edit.svg) no-repeat 50% 50%;
  mask: url(../img/edit.svg) no-repeat 50% 50%;
  background-color: #000;
}
.icon-edit:active{
  background-color:#bdbaba;
}
.exit{
  display: flex;
}
.sidebar-nav {
  background-color: #fff;
  display: none;
}
.sidebar-menu {
  margin: 0;
  border: 1px solid #e8e8e8;
  border-top: none;
  list-style-type: none;
  padding: 0;
}
.sidebar-menu-link {
  text-decoration: none;
  font-size: 14px;
  line-height: 22px;
  color: #595959;
  padding: 16px 48px;
  display: inline-block;
  width: 100%;
  background-color: #fff;
}
.sidebar-menu-link:hover {
  background-color: #fffbe6;
}
.sidebar-menu-link.active {
  background-color: #fffbe6;
  border-right: 3px solid #faad14;
}
.button-outline {
  background: #ffffff;
  border: 1px solid #ffc53d;
  border-radius: 4px;
  color: #ffc53d;
  padding-left: 16px;
  padding-right: 16px;
  cursor: pointer;
}
.button-outline .icon {
  width: 14px;
  height: 11px;
  fill: #ffc53d;
}
.new-post-btn {
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.new-post-btn.visible{
  display: flex;
}
.icon-fire {
  fill: #fff;
  width: 11px;
  height: 13px;
  margin-right: 10px;
}
.card {
  background: #ffffff;
  border: 1px solid #e8e8e8;
  margin-top: 20px;
}
.card-header {
  background: #fafafa;
  border-bottom: 1px solid #e8e8e8;
  padding: 23px 25px;
}
.card-title {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #595959;
}
.card-body {
  padding: 22px 40px 20px 25px;
}
.card-body-title {
  text-decoration: none;
  margin: 0 0 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: #d48806;
}
.card-text {
  font-size: 14px;
  line-height: 22px;
  color: #262626;
  margin: 10px 0;
}
.advertising{
  display: block;
  background-color: #fff;
  background-image: url("../img/promo.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  height: 260px;
  border: 1px solid #e8e8e8;
  margin-top: 20px;
  position: relative;
}
.advertising::before {
  content: "Реклама";
  position: absolute;
  right: 0;
  top: 0;
  background: #c4c4c4;
  padding-left: 26px;
  padding-right: 26px;
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}
.add-post {
  position: relative;
  width: 67%;
  display: none;
  flex-direction: column;
}
.add-post.visible{
  display: flex;
}
.add-title,
.add-text,
.add-tags {
  background: #ffffff;
  border: 1px solid #e8e8e8;
  padding: 23px 30px;
  margin-bottom: 16px;
  resize: none;
  outline: transparent;
}
.error-title {
  display: flex;
  font-size: 16px;
  align-items: center;
  justify-content: center;
  color: #da13138a;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 80px;
  width: 300px;
  background:rgb(232 215 215 / 98%);
  padding: 20px;
  border-radius: 5px;
  z-index: 999999;
}
.add-text {
  min-height: 362px;
}
.add-button {
  width: 100%;
  max-width: 370px;
}
.add-post .button-outline {
  margin-right: 1%;
}
@media (max-width: 990px) {
  .menu-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    margin-left: 12px;
  }

  .signup-close{
    right: -15px;
  }
  .menu-tuggle-line {
    height: 2px;
    width: 100%;
    background-color: #fff;
  }
  .header {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    right: 0;
    width: 100%;
  }
  .content {
    padding-top: 84px;
    padding-bottom: 60px;
  }
  .posts, .add-post{
    width: 100%;
  }
  .error-title{
    width: 80%;
    background:#e8d7d7;
  }
  .sidebar {
    position: fixed;
    z-index: 101;
    top: 64px;
    right: 0;
    bottom: 0;
    height: calc(100% - 64px);
    max-width: 320px;
    width: 100%;
    background-color: #fff;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.15);
    padding: 15px;
    transform: translateX(100%);
    transition: transform 0.2s;
    overflow-y: auto;
  }
  .sidebar.visible {
    transform: translateX(0);
  }
  .login{
    padding: 15px;
  }
  .login-forget{
    margin-bottom: 15px;
    font-size: 13px;
  }
  .card-header{
    text-align: center;
  }
  .user{
    padding: 15px;
  }
  .card-body{
    padding: 15px;
  }
  .post-body{
    padding-left: 20px;
    padding-right: 20px;
  }
  .header-nav {
    display: none;
  }
  .header-menu {
    width: 90%;
    margin: auto;
  }
}
@media (max-width: 676px) {
  .add-buttons {
    display: flex;
    flex-direction: column;
  }
  .add-button {
    width: 100%;
    max-width: 100%;
  }
  .add-post .button-outline {
    margin-right: 0;
    margin-top: 10px;
  }
}
@media (max-width: 576px) {
  .content{
    width: 100%;
  }
  .post-body{
    padding-top: 15px;
  }
  .post-footer {
    flex-direction: column;
  }
  .post-author {
    margin-top: 15px;
  }
  .add-button {
    width: 100%;
  }
}
